<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sélection d'ingrédients</title>
</head>
<body>
<h1>Sélectionnez vos ingrédients</h1>

<form id="ingredientForm">
    <div th:each="ingredient : ${listeIngredients}  " >


        <div class="card">
            <div class="card-body">

                <input type="checkbox" th:value="${ingredient}" class="ingredientCheckbox">
                <label th:for="'ingredient_' + ${ingredient.ingredientId}" th:text="${ingredient.ingredientName}"></label>

            </div>
        </div>
        </div>
    </div>

    <button type="button" onclick="calculerTotal()">Calculer le total</button>
</form>

<div id="totalNutritionnel"></div>

<script th:inline="javascript">


    function calculerTotal() {
        var totalCarbs = 0;
        var totalGl = 0;
        var totalKcal = 0;
        var totalProtein = 0;

        var checkboxes = document.getElementsByClassName("ingredientCheckbox");
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                var ingredient =/*[[${listeIngredients}]]*/[i];
               // let ingredient =checkboxes[i].value;
                console.log(ingredient[i])
             //   var ingredient = document.getElementById('ingredient_' + ingredientId);


                if (ingredient[i]) {
                   console.log(ingredient[i].carbs);
                    totalCarbs += parseInt(ingredient[i].Carbs,10) ;
                    console.log(totalCarbs)
                    totalGl += parseInt(ingredient[i].Gl, 10) || 0;
                    totalKcal += parseInt(ingredient[i].Kcal, 10) || 0;
                    totalProtein += parseInt(ingredient[i].Protein, 10) || 0;
                } else {
                    console.error("Element with id=ingredient_" + " not found or missing data attributes.");
                }
            }
        }

        var totalDiv = document.getElementById("totalNutritionnel");
        totalDiv.innerHTML = "<h2>Total nutritionnel :</h2>" +
            "<p>Carbohydrates: " + totalCarbs + "g</p>" +
            "<p>Glycemic Load: " + totalGl + "</p>" +
            "<p>Calories: " + totalKcal + " kcal</p>" +
            "<p>Protein: " + totalProtein + "g</p>";


        var seuilDanger = 10;
        if (totalGl > seuilDanger) {
            alert("Attention ! Le total du Glycemic Load est élevé. Cela peut être dangereux pour votre diabète.");
        }
    }



</script>
</body>
</html>
