<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<table border="1" class="piece">
    <thead>
    <tr>
        <th>ID</th>
        <th>Valeur Glycemie</th>
        <th>Date</th>
        <th>Heure</th>
        <th>Commentaire</th>
        <th>ID Diabétiques</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="glycemie : ${Glycemies}">
        <td th:text="${glycemie.idGlycemie}"></td>
        <td class="glycemie-value" th:text="${glycemie.valeurGlycemie}"></td>
        <td class="glycemie-date" th:text="${glycemie.Date}"></td>
        <td th:text="${glycemie.Heure}"></td>
        <td th:text="${glycemie.Commentaire}"></td>
        <td th:text="${glycemie.diabetiques.idDiabetiques}"></td>
    </tr>
    </tbody>
</table>
<button onclick="generatePDF()">pdf exporte</button>
<script src="/Script.js"></script>
</body>
</html>
