<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire Glycémie</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="chartsBx">
    <h2>Graphique</h2>
    <button id="change"><i class="bi bi-arrow-left-circle"></i></button>
    <button id="back"><i class="bi bi-arrow-right-circle"></i></button>
    <div class="chart"> <canvas id="chart-1"></canvas> </div>
</div>

<div class="container mt-5">
    <h2 class="mb-4">Liste des Valeurs Glycémies</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Valeur Glycemie</th>
            <th>Date</th>
            <th>Heure</th>
            <th>Commentaire</th>
            <th>ID Diabétiques</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="glycemie : ${Glycemies}">
            <td th:text="${glycemie.idGlycemie}"></td>
            <td class="glycemie-value" th:text="${glycemie.valeurGlycemie}" ></td>
            <td class="glycemie-date" th:text="${glycemie.Date}"></td>
            <td th:text="${glycemie.Heure}"></td>
            <td th:text="${glycemie.Commentaire}"></td>
            <td th:text="${glycemie.diabetiques.idDiabetiques}"></td>
        </tr>

        </tbody>
    </table>

</div>
<div class="container mt-5">
    <h2 class="mb-4">Ajouter une mesure de glycémie</h2>
    <form method="post" action="Addtst" class="mb-5">
        <div class="form-group">
            <label for="valeurGlycemie">Valeur Glycemie</label>
            <input type="number" class="form-control" id="valeurGlycemie" name="valeurGlycemie" placeholder="Entrez la valeur glycemie"  step="0.1" required>
        </div>
        <div class="form-group">
            <label for="Date">Date</label>
            <input type="date" class="form-control" id="Date" name="Date" required>
        </div>
        <div class="form-group">
            <label for="Heure">Heure</label>
            <input type="time" class="form-control" id="Heure" name="Heure" required>
        </div>
        <div class="form-group">
            <label for="Commentaire">Commentaire</label>
            <input type="text" class="form-control" id="Commentaire" name="Commentaire" required>
        </div>
        <input type="hidden" class="form-control" id="diabetiques.idDiabetiques" name="diabetiques.idDiabetiques" value="1">
        <button type="submit" class="btn btn-primary" id="add">Ajouter</button>
    </form>
</div>
<div class="container mt-5">
    <h2 class="mb-4">Liste des repas recommendé pour vous </h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Repas</th>
            <th>Description</th>
            <th>recette</th>
            <th>Valeur </th>
            <th>Carbs</th>
            <th>Protein</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="repas : ${listeRepas}">
            <td th:text="${repas.repasName}"></td>
            <td th:text="${repas.repasDescription}"></td>
            <td th:text="${repas.recette}"></td>
            <td th:text="${repas.glicydes}"></td>
            <td th:text="${repas.carbs}"></td>
            <td th:text="${repas.protein}"></td>
        </tr>
        </tbody>
    </table>
    <div id="recommandationsRepas">

    </div>
    <p id="bannerMessage"></p>

</div>

    <script >

    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var listeRepas = /*[[${listeRepas}]]*/ [];
        /*]]>*/
        console.log(listeRepas);



        let niveauGlicemiqueInput = document.getElementById('valeurGlycemie');
        let recommandationsDiv = document.getElementById('recommandationsRepas');

        niveauGlicemiqueInput.addEventListener('input', function() {
            var niveauGlicemique = parseFloat(niveauGlicemiqueInput.value);

            var banners = [
                { range: [0, 1.1], message: "Niveau normal de glycémie" },
                { range: [1.1, 1.27], message: "Niveau de glycémie légèrement élevé" },
                { range: [1.27, 2], message: "Niveau de glycémie élevé" }
            ];
            var bannerMessage = "";

            for (var i = 0; i < banners.length; i++) {
                var banner = banners[i];
                if (niveauGlicemique >= banner.range[0] && niveauGlicemique < banner.range[1]) {
                    bannerMessage = banner.message;
                    recommandationsDiv.innerHTML = "";
                    break;
                }
            }


            var repasRecommandes = listeRepas.filter(repas => {
                return niveauGlicemique >= repas.maxGl;
            });


            var recommandationsHTML = "<h3>Repas recommandés :</h3><ul>";
            repasRecommandes.forEach(function(repas) {
                recommandationsHTML += "<li>" + repas.repasName + "</li>";
            });
            recommandationsHTML += "</ul>";


            recommandationsDiv.innerHTML = recommandationsHTML;


            document.getElementById('bannerMessage').textContent = bannerMessage;
        });
        /*]]>*/

    </script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="/ScriptHome.js">
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
